

<mat-toolbar class="toolbar-styles">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
      <mat-icon style="color: white;">menu</mat-icon>
    </button>
    <span class="title-heading">STG Infotech India</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" style="color: white;">
      <mat-icon style="color: white;">settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" style="color: white;">
      <mat-icon style="color: white;">help</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav mat-elevation-z15" mode="side" opened>
      <button mat-raised-button class="navBar-headings">Admin</button>
      <button mat-raised-button class="navBar-headings">Career</button>
      <button mat-raised-button class="navBar-headings">More</button>
    </mat-drawer>

  
      <app-sign-up></app-sign-up>
      
      <div id="footer">
        <p>&copy; Copyright 20222 STG Infotech. All Rights Reserved</p>
      </div>

   
  
</mat-drawer-container>




