<div class="bg-style">


<mat-toolbar class="toolbar-styles">
    <button mat-icon-button class="example-icon" style="color: #38c1d6;" (click)="drawer.toggle()">
      <mat-icon style="color: #38c1d6;">menu</mat-icon>
    </button>
    <span style="color: #38c1d6;font-family: Stencil Std, fantasy; align-items: center;">STG India</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" style="color: white;">
      <mat-icon style="color: white;">favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" style="color: white;">
      <mat-icon style="color: white;">share</mat-icon>
    </button>
  </mat-toolbar>

  <app-sign-up></app-sign-up>

  <mat-drawer-container class="example-container" autosize>
    
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button  mat-raised-button >Login</button>
      
    </mat-drawer>
    
    
  </mat-drawer-container>
</div>


