

<mat-toolbar class="toolbar-styles">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" matTooltip="Expand Menu">
      <mat-icon style="color: white;">menu</mat-icon>
    </button>
    <span class="title-heading">STG Infotech India</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" style="color: white;" matTooltip="Existing User Login" (click)="openLoginDialog()">
      <mat-icon style="color: white;">login</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" style="color: white;" matTooltip="Settings">
      <mat-icon style="color: white;">settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" style="color: white;" matTooltip="Help Page">
      <mat-icon style="color: white;">help</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav mat-elevation-z15" mode="side" opened>
      <button mat-raised-button class="navBar-headings" (click)="navigateRegisterPage()">Register New User</button>
      <button mat-raised-button class="navBar-headings" (click)="navigateLoginPage()">Existing User</button>
      <button mat-raised-button class="navBar-headings">More</button>
    </mat-drawer>

  
     <router-outlet></router-outlet>
      
      <div id="footer">
        <p>&copy; Copyright 20222 STG Infotech. All Rights Reserved</p>
      </div>

   
  
</mat-drawer-container>




